<section class="lead">
  <div class="wrapper">
    <h1 class="title">silviu glavan</h1>
    <div class="description">
      <p>I’m an aspiring self taught front-end developer with a deep passion for coding currently living in UK. </p>
      <p>I’ve learned the basics of web development in 2006/2008 studying languages like HTML, CSS, PHP, ACTIONSCRIPT -Flash MX was a big thing back then  :) -</p>
      <p>At the moment I'm continuously learning in order to sharp my skills in JavaScript, MVC like frameworks and python.</p>
    </div>
    {% include links.html %}
  </div>
</section>
